@model IEnumerable<MasGlobal.Model.Employee>

@{
    ViewBag.Title = "GetEmployee";
}

<h2>GetEmployee</h2>
<form method="post">
    First name:
    <input type = "text" name = "id" id="id" >
    <input type ="submit" title = "GetEmployees" value = "GetEmployees" />
</form>
    

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contractTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hourlySalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monthlySalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualSalary)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contractTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roleDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hourlySalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monthlySalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnualSalary)
            </td>
        </tr>
    }

</table>
